@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
}

@theme {
    --color-grey-900: #141414;
    --color-grey-800: #1f1f1f;
    --color-grey-700: #333333;
    --color-green: #C4F82A;

    --font-inter: 'Inter', sans-serif;

    /* --- Text Preset 1 --- */
    --text-preset-1: 24px;
    --leading-preset-1: 150%;
    --tracking-preset-1: 0px;
    --font-weight-preset-1: 700;

    /* --- Text Preset 2 --- */
    --text-preset-2: 14px;
    --leading-preset-2: 150%;
    --tracking-preset-2: 0px;
    --font-weight-preset-2: 400;

    /* --- Text Preset 2 Bold --- */
    --text-preset-2-bold: 14px;
    --leading-preset-2-bold: 150%;
    --tracking-preset-2-bold: 0px;
    --font-weight-preset-2-bold: 700;
}

.text-preset-1 {
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--font-weight-preset-1);
    font-family: var(--font-inter), sans-serif;
}

.text-preset-2 {
    font-size: var(--text-preset-2);
    line-height: var(--leading-preset-2);
    letter-spacing: var(--tracking-preset-2);
    font-weight: var(--font-weight-preset-2);
    font-family: var(--font-inter), sans-serif;
}

.text-preset-2-bold {
    font-size: var(--text-preset-2-bold);
    line-height: var(--leading-preset-2-bold);
    letter-spacing: var(--tracking-preset-2-bold);
    font-weight: var(--font-weight-preset-2-bold);
    font-family: var(--font-inter), sans-serif;
}